@charset "UTF-8";

        * {
            margin: 0px;
            padding: 0px;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: darkred;
            padding: 20px;
            color: white;
            text-align: center;
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            margin: -10px;
            padding-top: -10px;
        }

        a:hover {
            font-size: 1.2em;
            transition-duration: 0.5s;
            background-color: rgb(80, 6, 80);
        }